.filtering {
  background-color: rgb(252, 152, 222);
  width: 30%;
  height: 642px;

}

.maping {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.right {
  display: flex;
  right: 0;
  margin-top: 3.3%;
}

.frinds{
  margin-left: 30%;
  margin-top: -14%;
}