@import "../../sass/variables.scss";

.navbar {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 10vh;
  color: white;
  background-color: #f9cdff;
  position: sticky;
  gap: 2rem;
  padding: 1rem;
  transition-duration: 0.4s;

  .login-logout {
    gap: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profile-image {
  border-radius: 50%;
  width: 50px;
}

.logo {
  cursor: pointer;
  img {
    width: 80px;
    object-fit: contain;
    padding-top: 5px;
  }
}
.link {
  background-color: #f9cdff;
  color: white;
  text-decoration: none;
  border-color: #f9cdff;
  border-radius: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  size: 0.3rem;
}

.navbar ul {
  padding: 0;
  border-radius: 12px;
  margin: 2%;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-style: "Segoe UI", sans-serif;
}

.navbar li:hover {
  background-color: black;
  transition-duration: 0.4s;
  border-radius: 12px;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
