.new-post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30%;

  .map-container {
    width: 100%;
  }

  .new-post-content {
    display: flex;
    gap: 5px;

    input {
      height: 1rem;
      width: 100%;
    }
  }

  .new-post-form-group {
    display: flex;
    flex-direction: column;
  }

  input[type="file"] {
    visibility: hidden;
  }

  .button-container {
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }
}
