.allsend{
    display: flex;
    margin-top: 30%;
}

.textMess{
    width: 300%;
    height: 6ch;
}

.btnSend {
    margin-left: 44%;
}

.message{
    display: flex;
}

.comboboxGroup{
    width: 505px;
    height: 6ch;
}

.proMessage{
    display: flex;
}