.allsend{
    display: flex;
    margin-top: 30%;
}

.textMess{
    height: 50px;
    width: 300px ;
    max-height: 50px;
    transition: max-height 1s ease;
}

.btnSend {
    display: flex;
}

.message{
    display: flex;
}

.comboboxGroup{
    width: 505px;
    height: 6ch;
}

.proMessage{
    display: flex;
}