.home {
  display: flex;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 35%;
}

.add-post {
  margin-top: 1rem;
  display: flex;

  h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  input {
    cursor: pointer;
  }
}
