.user-card-small {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    cursor: pointer;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #eee;
  align-items: center;
  width: 10rem;
  height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 5px;
    padding: 0.5rem;
    width: 90%;
  }

  img {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    cursor: pointer;
  }
}
